:root { 
    --color: black; /*couleur attendue*/
    --padding : 5px; /*nombre attendu (px ou %)*/
    --deco : none; /*none ou initial*/
}


body{
	background: black;
	color: whitesmoke;
}

a, a:visited {
	text-decoration: none;
	color: lightblue;
}

header { order: -1; width: 100%; }
.parent-header { display: flex; flex-direction: column; position: relative; text-align: center; font-size: 200%}
.parent-footer { display: flex; flex-direction: column; position: relative; }
footer { order: 1; width: 100%; }

.center {
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;
}

img {
	height: 50%;
	width: 30%;
}
nav {
	text-align: center;
	justify-content: center;
}
nav > *:not(:last-child) { text-decoration: var(--deco); border-right: solid 1px var(--color); padding-right: var(--padding); padding-left: var(--padding);} 
nav > *:last-child { text-decoration: var(--deco); padding-left: var(--padding);}